<% include('../layouts/header.ejs') %>

   <h1>Forgot Password</h1>

  <form action="/forgot" method="post">
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <br><br>
    <input type="submit" value="Reset password">submit</input>

</form>
<!-- <a href="/forgot">Forgot password</a> -->

<% include('../layouts/footer.ejs')%> 