 <%- include('../admin/layout/header.ejs', { active: 'new-category' }) -%> 

<!-- <h1>Add New Category</h1>
<form  action="/admin/new-category" method="post" >
 <input type="file" name="image" placeholder="choose file" required>  
<br><br>
<input type="text" name="categoryName" placeholder="Enter Category Name" required>
<br><br>
<input type="date" name="date" placeholder="Enter Last Date" required>
<br><br> -->
<!-- <input type="text" name="status" placeholder="Enter status" required>
<br><br> -->
<!-- <input type="submit" value="Add Category">
</form> -->

<!-- <% 
if(typeof message !='undefined'){
%>
<p style="color:red;"><%= message %></p>
<%
} 
%>
<a href="/admin/category">Go Back</a> -->
<!-- ------------------------------------------------------------------------- -->
<div class="page-content">
    <div class="bg-dash-dark-2 py-4">
      <div class="container-fluid d-flex justify-content-between">
        <h2 class="h5 mb-0">Add Category</h2>
      </div> 
    </div>
    <div class="widget-content widget-content-area add-manage-product-2 container mt-3">
      <div class="row ">
    
         <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Success!</strong> Categories are added successfully!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
         -->
        <!-- <div id="nofield" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Success!</strong> Add required fields
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>  -->
        
         <div class="card-heading text-center">
          <h2 class="card-title mb-3"><span>Add Category</span></h2>
        </div>
        <div class="col-xl-5 col-md-12">
          <div class="card card-default" style="border-color: white !important; color: black !important;">
  
            <div class="card border-0 ad-box-shadow p-0">
              <div class="card-header">
                Images
              </div>
              <div class="card-body">
                <div class="border mb-1" style="height: 230px;">
                  <label for="product_images" class="d-block">
                    <div id="image_drop_area" class="d-flex justify-content-center align-items-center mx-auto col-md-10 my-1 text-muted" style=" min-height: 200px; border: 1px dashed rgba(57, 57, 57, 0.766);" onclick="document.getElementById('image_drop_area').innerHTML=`<p class=''>Drag and Drop Image here</p>`">
                    </div>
                  </label>
                </div>
                <div id="dragged_images">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-md-12 ">
          <div class="admincard card card-default" style="border-color:white !important;">
            <div class="card-body">
              <div class="card-body">
                <form class="form-horizontal" action="/admin/new-category" method="post" enctype="multipart/form-data" value="Add Category">
                  
                   <input type="file" name="product_images" class="d-none" id="product_images" multiple> 
                   <!-- <div class="form-group mb-4">  -->
                      <!-- <div class="row">    -->
                       <!-- <div class="row">
                        <label class="col-md-4">Name: </label>
                        <div class="col-md-8"> -->
                          <!-- <input class="form-control" name="name" type="text" fdprocessedid="ql246j" required> -->
                        <!-- </div> -->
                      <!-- </div>  -->
                      
                      <div class="col-md-8"> 
                  <!-- <select class="form-control form-custom"name="categoryName" placeholder="Enter Category Name"  value="" name="brand" fdprocessedid="snbdje" required>  -->
                            <!-- <input type="text" name="categoryName" placeholder="Enter Category Name" required>   -->
                            <input class="form-control" name="name" type="text"placeholder="Enter Category Name" fdprocessedid="ql246j" required>
                          </select>
                        </div> 
                    </div>
                  </div>
                  <div class="d-flex justify-content-center  mt-4 mb-lg-4">
                  <button type="submit" class="btn btn-success px-5 p-2">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      
       setTimeout(() => {
        document.getElementById("nofield").remove();
      }, 3000);
    </script>
     <script> 
      function imageDrop() {
        const image_drop_area = document.querySelector("#image_drop_area");
        var uploaded_image; 
        // Event listener for dragging the image over the div 
       image_drop_area.addEventListener('dragover', (event) => {
       image_drop_area.classList.add('bg-secondary')
          image_drop_area.classList.add('text-white')
          image_drop_area.classList.remove('text-muted')
         event.stopPropagation();
           event.preventDefault(); 
        // Style the drag-and-drop as a "copy file" operation.
         event.dataTransfer.dropEffect = 'copy';
        });
        image_drop_area.addEventListener('dragleave', (event) => {
          image_drop_area.classList.remove('bg-secondary')
          image_drop_area.classList.remove('text-white')
         image_drop_area.classList.add('text-muted')
         });
        // Event listener for dropping the image inside the div
        image_drop_area.addEventListener('drop', (event) => {
           event.stopPropagation();
         event.preventDefault();
          fileList = event.dataTransfer.files;
         document.querySelector("#product_images").files = fileList;
          document.getElementById('dragged_images').innerHTML = '';
         for (let i = 0; i < fileList.length; i++) {
            readImage(fileList[i]);
          } 
           image_drop_area.classList.remove('bg-secondary')
         image_drop_area.classList.remove('text-white')
          image_drop_area.classList.add('text-muted')
         });
         // Converts the image into a data URI
        readImage = (file) => {
          let dragged_images = document.getElementById('dragged_images');
          dragged_images.innerHTML = '';
         const reader = new FileReader();
         reader.addEventListener('load', (event) => {
           uploaded_image = event.target.result;
           image_drop_area.style.border = 'none';
           dragged_images.innerHTML += `<div class="d-flex border justify-content-between rounded align-items-center my-1">
       <div style="max-height: 80px; max-width: 80px;" class="p-0 rounded">
           <img src="${uploaded_image}" alt="" class="image-fluid rounded w-100">
            </div>
           <p class="text-secondary">${file.name}</p>
          </div>`
        });
         reader.readAsDataURL(file);
      }
     }
   imageDrop() 
      </script>
   </div> 
 <%- include('../admin/layout/footer.ejs') -%> 
