<%-include('../users/layouts/header.ejs') %>

        <div class="colorlib-loader"></div>

            <div class="breadcrumbs">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p class="bread">
                                <span><a href="index.html"> </a></span> <span> </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="colorlib-about">
                <div class="container">
                    <div class="row row-pb-lg">
                        <div class="col-sm-6 mb-3">
                            <div class="video colorlib-video" style="background-image: url(https://cdn.shopify.com/s/files/1/0438/9132/7128/articles/ladies-sandals_1000x.jpg?v=1633089285)">
                                <!-- <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play3"></i></a> -->
                                <div class="overlay"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="about-wrap">
                                <h2>Women Footwear</h2>
                                <p>Pamper your feet with most comfortable and stylish footwear of this season. Try on our new range of printed flats, ring toed sandals, embellished mojris and metallic wedges.</p>
                                <p>Too many women think that they are unimportant, but the real proof of an elegant woman is what is on her feet. Have your feet on the ground, I just wear better shoes.</p>
                                <p>Behind every successful woman is a fabulous pair of shoes.You can never take too much care over the choice of your shoes.Womanish footwear adds your style a step forward !!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
        </div>
        <!-- jQuery -->
        <script src="js/jquery.min.js"></script>
        <!-- popper -->
        <script src="js/popper.min.js"></script>
        <!-- bootstrap 4.1 -->
        <script src="js/bootstrap.min.js"></script>
        <!-- jQuery easing -->
        <script src="js/jquery.easing.1.3.js"></script>
        <!-- Waypoints -->
        <script src="js/jquery.waypoints.min.js"></script>
        <!-- Flexslider -->
        <script src="js/jquery.flexslider-min.js"></script>
        <!-- Owl carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- Magnific Popup -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/magnific-popup-options.js"></script>
        <!-- Date Picker -->
        <script src="js/bootstrap-datepicker.js"></script>
        <!-- Stellar Parallax -->
        <script src="js/jquery.stellar.min.js"></script>
        <!-- Main -->
        <script src="js/main.js"></script>
    </body>
</html>
<%-include('../users/layouts/footer.ejs') %>
