<%-include('../users/layouts/header.ejs') -%>
      <div class="page-holder">
        <div class="container">
            <section class="py-5 bg-light">
                <div class="container">
                    <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                        <div class="col-lg-6">
                            <h1 class="h2 text-uppercase mb-0">Order Success</h1>
                        </div>
                        <div class="col-lg-6 text-lg-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                                    <li class="breadcrumb-item"><a class="text-dark" href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Order Success</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container text-center mb-5">
            <h1>Thank you.</h1>
            <p class="lead w-lg-50 mx-auto">Your order has been placed successfully.</p>
            <p class="w-lg-50 mx-auto"> We will immediatelly process your order and it will be delivered in 2 - 5 days.</p>
            <a class="btn-sm btn-dark text-decoration-none" href="/singleOrder">Show OrderDetails</a>
        </div>
    </div>
    <%-include('../users/layouts/footer.ejs') -%>